@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body { 
  margin: 0;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: auto
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: "Public Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.navigation-item {
    @apply block py-2 px-3 text-gray-900 md:p-0;
}

.slick-prev {
    position: absolute;
    height: 100%;
    z-index: 9999;
    content: 'Next';
}

.slick-next {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 9999;
    content: 'Next';
}

.slick-dots {
    display: flex;
    justify-content: space-evenly;
}

.slick-dots > li > button {
    content: '';
}

/* .doctor-avatar {
    transition: transform 0.3s ease-in-out;
}

.doctor-avatar:hover {
    transform: scale(1.2);
} */

@media (min-width: 1580px) {
  .about-us-banner-container {
    height: calc(100vh - 70px);
  }

  #banner-slider {
    height: calc(100vh - 80px);
  }

  .homepage-slider-item {
    height: calc(100vh - 80px);
  } 
}

.testimonial blockquote {
    background: #FFF6EA;
    padding: 20px 60px;
    position: relative;
    border: none;
    border-radius: 8px;
    font-style: italic;
  }
  
  .testimonial blockquote:before,
  .testimonial blockquote:after {
    content: "\201C";
    position: absolute;
    font-size: 80px;
    line-height: 1;
    color: #757f9a;
    font-style: normal;
  }
  
  .testimonial blockquote:before {
    top: 20px;
    left: 10px;
  }
  
  .testimonial blockquote:after {
    content: "\201D";
    right: 10px;
    bottom: -10px;
  }
  
  .div.left-quote {
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 20px solid transparent; /** Lapad */
    border-top: 20px solid #FFF6EA; /** haba */
    margin: 0 0 0 30px;
  }

  .div.right-quote {
    border-left: 20 solid transparent;
    border-right: 0px solid transparent; /** Lapad */
  }
  
  .testimonial p {
    margin: 8px 0 0 20px;
    text-align: left;
    color: #fff;
  }
  
  .styled-title h1 {
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    display: inline-block;
    position: relative;
  }

  .styled-title-center {
    text-align: center;
  }

  .styled-title h1:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 25%;
    background-color: #fbb03b;
  }

  .styled-title-center h1::before {
    left: 50%;
    transform: translateX(-50%);
  }

  .styled-title h1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 95%;
    /* max-width: 255px; */
    background-color: #fbb03b;
  }